*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.overflow-hidden{
    overflow: hidden;
}
.w-100{
    width: 100%!important;
}
.img-fluid{
    width: 100%!important;
}
.text-center{
    text-align: center;
} 
.mb-4{
    margin-bottom: 26px;
}
.mb-2{
    margin-bottom: 14px;
}
.init-black p {
    padding: 0 100px 0 0;
}
.text-center{
    text-align: center;
} 
.position-absolute{
    position: absolute;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.px-40{
    padding: 0 40px!important;
}
.text-white{
    color:#fff;
}
.text-left{
    text-align: left;
}
.mr-4{
    margin-right: 20px;
}
.ml-4{
    margin-left: 20px;
}
}
.text-white{
    color:#fff;
}
.text-left{
    text-align: left;
}


#triangulo-para-baixo {
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 180px solid #c42e3a;
}
.text-black{
    color:#000;
}
.p-inicio-black p{
    padding: 0 100px 0 0;
}
.height-240{
    /* height: 240px; */
}
.height-500{
    height: 500px!important;
}
.newsfooter{
    height: 100%;
}
.newsfooter{
    padding: 100px 70px;
}
.heightCadeira{
    height: 260px;
    margin-bottom: 0!important;
}
.p-180{
    padding: 180px;
}
.height-370{
    height: 370px;
}
.height-400{
    height: 400px;
}
.txt-footer{
    padding: 180px 30px 180px 240px;
    color: #fff;
    font-weight: bold;
    text-align: right;
}
.bg-footer{
    background-image: url(../img/rodape-cadeiras.jpg);
    background-size: contain;
    overflow: hidden;
    height: 550px;
    background-repeat: no-repeat;
}
.bg-footer p{
    font-size: 22px;
    line-height: 30px;
}
.bg-mid-banner{
    background-image: url(../img/img-banner-3.jpg), linear-gradient(#f7f7f7 6% , #bebebe 90%);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 656px;
    width: 100%;
}
.py-100{
    padding: 100px 0;
}
.call-text{
    /* position: absolute; */
    margin-top: -125px;
    /* top: 45px; */
    margin-left: -80px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.bg-grey{
    background: #e2e0e0;
}
.mt-90{
    margin-top: 90px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-30{
    margin-bottom: 30px;
}
a{
    color: #000;
}
.mt--60{
    margin-top: -60px;
}
.px-100{
    padding:0 100px;
}
.px-180{
    padding:0 180px;
}
.title-page{
    font-size: 54px;
    font-weight: bold;
    margin-top: 200px;
}
.mb-60{
    margin-bottom: 60px;
}
.py-60{
    padding: 60px 0;
}
.title-page span{
    margin-left: 35px;
}
.bg-photo-1{
    background:url('../img/cesta-o-que-e-a-black_Prancheta.png');
    background-size: 521px;
    background-repeat: no-repeat;
    background-position: 104% -25px;
}
.horas{
    font-size: 32px!important;
}
.img-reverse{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.btn-view{
    background: #000;
    padding: 15px 100px;
    border-radius: 42px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    left: 0;
    top: 100%;
    position: absolute;
    left: 5%;
    top: 106%;
    margin-top: 22px;
}
.btn-view:hover{    
    color: #fff;
    text-decoration: none;
}
.m-200{
    margin-top: 200px;
}
.bg-grey-dark{
    background: #565656;    
}
.border-default{
    border-radius: 35px
}
.height-box{
    height: 650px;
}
.title-2{
    background: #c42e3a;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.box-products{
    background: #e2e0e0;
    padding: 30px 10px;
    border-radius: 30px;
    width: 31.5%;
    height: auto;
    margin-bottom: 0;
    color: #fff;
}
.box-red{
    background: #c42e3a;
}
.box-black{
    background: #232122;
}
.box-products img{
    background: #e2e0e0;
    padding: 10px;
    border:1px solid #7d7d7d;
    width:100%;
    /* height: 100%; */
    border-radius: 30px;
}
.box-products p{
    text-align: left;
    padding: 0 30px;
}
.box-products p a{
    color: #fff;
}
.box-products h3{
    text-align: center;
    margin-bottom: 30px;
}
.bg-subfooter{
    background: #c42e3a;
}
.form-newsletter input{
    text-align: center;
    border-radius: 12px;
    padding: 5px 0px;
    border:1px solid #fff;
    margin-right: 2px;
    background: transparent;
    color: #fff;
}
::placeholder {
    color: #fff;
}
::-webkit-input-placeholder { /* Edge */
    color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
.bg-banner{
    background: url('../img/banner-header.jpg');
    height: 1300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.pt-60{
    padding-top: 60px!important;
}
.pb-60{
    padding-bottom: 60px;
}
.mt-60{
    margin-top: 60px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-80{
    margin-top: 80px;
}
.mb-60{
    margin-bottom: 60px;
}
p{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 26px;
}
.bg-dark-dark{
    background-color: #000;
}
.text-banner{
    z-index: 9;
    left: 20%;
    text-align: center;
    color: #fff;
    padding: 100px!important;
}
.text-banner h1{
    font-size: 42px;
}
.text-banner p{
    font-size: 18px;
}
.right-50{
    right: 30%;
}
.mb-200{
    margin-bottom: 5%;
}
.btn-form{
    background: transparent;
    border: #fff 1px solid;
    padding: 10px 13px;
    border-radius: 60px;
    font-size: 20px;
    margin-top: -5px;
}
.btn-form:hover{
    background: transparent;  
    border: #fff 1px solid;
}
.mt-banner{
    margin-top: 54%;
}
.countdown{
    background: #fff;
    border-radius: 60%;
    color: #000;
    font-weight: bold;
    width: 300px;
    height: 300px;
    text-align: center;
    justify-content: space-between;
    padding-top: 90px;
    /* border: 14px solid #fa0d13; */
    margin-top: -207px;
    box-shadow: 0px 7px 0px 6px rgb(251, 15, 19);
}
.countdown ul{
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.countdown ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.countdown ul li span{
    font-size: 45px;
}
.countdown p{
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
}
.bg-subanner{
    background-color:#c42e3a;
    overflow: hidden;
    height: 600px;
}
.p-100{
    padding: 100px;
}
@media(max-width:1280px){
    .height-box {
        height: auto;
    }
    .box-products {
        height: auto;
    }
    .right-50 {
        right: auto;
    }
    .bg-photo-1 {        
        background-size: contain;
        background-position: 104% 0;
    }
    .mt-banner {
        margin-top: 60%;
    }
}
@media(min-width:1920px){
    .bg-banner {
        height: 1850px!important;
    }
}
@media(min-width:1700px){
    .bg-banner {
        height: 1760px!important;
    }
}
@media(min-width:1500px){
    .bg-banner {
        height: 1500px;
    }
}
@media(max-width:1240px){
    .containerBlack {
        width: 100%!important;
    }
    .init-responsive{
        padding: 40px 0!important;
    }
    .bg-mid-banner {        
        background-size: cover;        
        height: auto;        
    }
}
@media(max-width:1220px){
    .heightCadeira{
        height: auto;
        margin-bottom: 0!important;
    }
    .height-500{
        height: auto!important;
    }
    .btn-view {
        position: relative;
        left: 0;
    }
    .box-products{
        width: 100%!important;
        max-width: 100%!important;
        margin-right: 0!important;
        margin-left: 0!important;
        margin-top: 15px;
    }
    .box-products p{
        text-align: center;
    }
    .bg-footer{
        height: auto;
    }
    .box-products h3 {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .box-products p {
        margin-bottom: 3px!important;
        margin-top: 3px;
    }
    .newsfooter {
        height: auto;
        text-align: center;
    }
    .bg-footer .col-md-6{
        width: 100%!important;
        max-width: 100%!important;
    }
    .txt-footer {
        padding: 160px;
        text-align: center;
    }

    .px-180{
        padding: 0px;
    }
}
@media(max-width:1024px){
    .countdownResponsive{
        position: relative!important;
        background: #000;
    }
    .bg-subanner{
        height: auto;
    }
    .bg-subanner .col-md-7,.bg-subanner .col-md-5{
        height: auto;
        width: 100%!important;
        max-width: 100%!important;
    }
    .px-180{
        padding: 0 80px;
    }
    .title-page {
        font-size: 47px;
        font-weight: bold;
        margin-top: 160px;
    }
    .countdown {
        display: inline-block;    
        margin-top: 0;
        margin-bottom: 20px;
    }
    .countdown-responsive{
        width: 100%!important;
        float:none!important;
        max-width: 100%!important;
    }
    .form-ban-responsive{
        width: 100%!important;
        float:none!important;
        max-width: 100%!important;
    }
    .bg-banner{
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #000;
    }
    h3 {
        font-size: 22px;
    }
    .text-banner p {
        font-size: 16px;
    }
    .responsive-info{
        width: 100%!important;
        padding: 0;
        margin: 0;
        float: none;
        max-width: 100%;
        text-align: center;
    }
    .height-box {
        height: auto;
        margin-bottom: 15px;
        text-align: center;
    }
    .mt-banner {
        margin-top: 50%;
    }
    h2 {
        font-size: 28px;
    }
    .mt-60 {
        margin-top: 20px;
    }
    .m-200 {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .box-products{
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0!important;
        margin-left: 0!important;
        height: auto!important;
        text-align: center;
    }    
    .form-newsletter input{
        width: 100%;
        margin-bottom: 15px;    
    }    
    .center-responsive{
        text-align: center!important;
    }
    .box-products p {
        text-align: center;
    }
    .btn-view {
        float: none!important;
    }    
}
@media(max-width:960px){
<<<<<<< HEAD
    .btn-view {
        bottom: -40px;
    }
=======
    .box-products p {
    margin-top: 0px;
}
    .p-inicio-black p {
    padding: 0;
}
>>>>>>> e21b7acc8908951a4de41322227bebc8d9cfda7a
    .triangulo-para-baixo-responsive{
        max-width: 100%;
        float: none!important;
        text-align: center;
    }
    #triangulo-para-baixo{ 
        display: inline-block;
    }
    .bg-mid-banner {
        background-image: url(../img/img-banner-3-responsive.jpg), linear-gradient(#f7f7f7 6% , #bebebe 90%);        
    }
    .init-responsive {
        padding: 40px 0!important;
        width: 100%;
        float: none;
        max-width: 100%;
        color: #fff;
        text-align: center;
    }
    .px-180{
        padding: 0 0px;
    }
    .hr-aproveite{
        border: 1px solid #fff;
        width: 130px;
        margin-left: -128px;
        margin-top: 9px;
        border-radius: 21px 0 0 112px;
    }
    .p-0{
        padding: 0!important;
    }
    .px-100 {
        padding: 0 0px!important;
    }
    .title-page-responsivo{
        width: 100%!Important;
        text-align: right;
    }
    .bg-photo-1 {
        background:transparent;
    }
    .title-page {
        font-size: 36px;
        text-align: right!important;
        display: inline-block;
        margin-top: 100px;
    }    
}
@media(max-width:820px){ 
    .text-banner {
        padding: 10px!important;
    }
    .p-100{
        padding: 10px!important;
    }
    .title-page {
        margin-top: 100px;
    }
    .h-100{
        height: auto!Important;
    }
    .box-products {
        margin-bottom: 0;
    }
}